# Neon Postgres connection string
DATABASE_URL="postgresql://user:password@ep-example.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# Next.js environment variables
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# SendGrid email delivery
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL="no-reply@example.com"

# Session configuration
IRON_SESSION_PASSWORD="complex_password_at_least_32_characters"
IRON_SESSION_COOKIE_NAME="calendarcal_session"
# Microsoft OAuth
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_TENANT_ID=
